/* Comments look like this */
body {
	font-family: Verdana, Courier New, Arial, Sans-serif; /* Font that distinguishes 1ijlIJ5SoO0 */
}

/* Combine tags, classes, and ids */
body.dark {
	/* Dark Mode */
	background-color: #111; /* hex color; close to black */
	color: #eee; /* color of text; close to white */
}

/* All children of the section tag */
section > * {
	margin-bottom: 1%;
}

div {
	border: 1px solid green;
}

span {
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}

/* Any time element with the datetime attribute */
time[datetime] {
	font-weight: bold;
}

li > pre {
	font-family: Impact, fantasy;
}

table,
canvas {
	margin: auto; /* center horizontally */
}

table,
th,
td {
	/* Draw borders around the table and its cells */
	border: 1px solid black;
	border-collapse: collapse;
}

table.dark,
th.dark,
td.dark {
	border-color: white;
}

/* Odd body and footer rows (starts at 1 instead of 0) */
tr:nth-child(2n + 1) > td {
	background-color: lightgray;
}

tr:nth-child(2n + 1) > td.dark {
	background-color: darkgray;
}

canvas {
	display: block; /* allows canvas to be centered */
}

/* space = descendant, > = child, + = adjacent sibling, ~ = general sibling */
#dark-mode,
#dark-mode + label {
	float: right;
	margin-right: 1%; /* % is better than px for responsive design */
	display: flex;
	flex-wrap: wrap;
}

#dark-mode {
	transform: scale(1.5);
}

/* # = id, . = class, nothing = tag */
#title,
.h {
	text-align: center;
}

.submit-button {
	background-color: limegreen;
}

/* When cursor is over the submit button */
.submit-button:hover {
	cursor: pointer;
}

.name-response {
	display: none; /* shorten gap below */
	margin-left: 1%;
	color: blue;
}

.name-response.dark {
	color: yellow; /* the inverse of blue; looks sharper than using filter */
}

.free-text-label {
	display: flex;
	flex-wrap: wrap;
}

.alert-button {
	background-color: red;
	border-radius: 5%;
	font-size: 1.2em;
	box-shadow: 5px 5px gray;
}

.alert-button:hover {
	background-color: darkred; /* darken color when over the button */
	cursor: pointer;
}

/* Look pressed when clicking on the alert button */
.alert-button:active {
	background-color: darkred;
	box-shadow: 3px 3px darkgray;
	transform: translate(3px, 3px);
}

.data-list dt {
	font-weight: bold;
}

.data-list dd {
	font-style: italic;
}

.tag-list {
	list-style-type: circle;
}

.underline {
	text-decoration: underline;
}

.table-caption {
	font-size: 1.5em; /* relative to the default font size */
}

.table-header {
	font-weight: bold;
}

.table-footer {
	font-style: oblique; /* slants like italic */
}

.code-block {
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 5%;
	padding: 0.5%;
}

.code-block.dark {
	background-color: darkgray;
	border-color: white;
}

.details {
	margin: 1%;
}

.details-text {
	font-size: 0.8em;
}

.quote {
	font-family: cursive;
	font-style: italic;
}

.html-img {
	width: 10%;
}

.html-img.dark {
	background-color: lightgray;
}

@media screen and (max-width: 700px) {
	/* Rules for screen sizes <= 700px */
	.html-img {
		width: 20%;
	}
}

.html-caption {
	font-style: italic;
}

.link {
	font-size: 0.9em;
}

.link.dark {
	filter: invert(100%);
	-webkit-filter: invert(100%); /* support older webkit browsers (Chrome, Safari, etc.) */
}

.small-text {
	margin-left: 5%;
}
